.hello-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px; /* Adjust padding as needed */
  background-color: #000;
  color: #fff;
  height: 100vh; /* Set container height to full viewport height */
}

.text-container {
  max-width: 70%; /* Adjust maximum width as needed */
}

.title {
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #666;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .hello-container {
    padding: 30px; /* Adjust padding for smaller screens */
  }
  
  .text-container {
    max-width: 90%; /* Adjust maximum width for smaller screens */
  }

  .title {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}

  
 
  
 
  