.services-container {
    
    color: #fff; 
    text-align: center;
    padding: 80px 0; 
  }
  
  .centered-text {
    margin-bottom: 40px; 
  }
  
  .services-section {
    margin-top: 40px; 
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .service {
    width: 45%; 
    padding: 10px;
    background-color: #4e54c8; 
    margin-bottom: 20px; 
    border-radius: 5px; 
  }
  .service-list {
    list-style: none; 
    padding: 0; 
  }
  
  .service-list li {
    margin-bottom: 10px; 
  }
  h2{
    font-size: 3.4375em;
    letter-spacing: -2px;
    line-height: 1.15;
    color: #fff;
    font-weight: normal;
  margin: 0;
  }
  h3{
    margin-left: 0%;
  }